<ion-header>
  <ion-toolbar>
    <ion-title>Gráficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <h3>Gráficas Neubaufahrzeug</h3>
          <ion-chip onmousedown="audio.play()" color="dark" outline="true">
            <ion-label>&nbsp;<ion-icon name="construct"></ion-icon>&nbsp;Gráficas en construcción&nbsp;<ion-icon name="build"></ion-icon>&nbsp;</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <img src="../../../assets/construction.png">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
