<ion-header>
  <ion-toolbar>
    <ion-title>Relaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Relaciones de la bitácora</ion-list-header>
  <ion-item>
    <ion-label>Ruta</ion-label>
    <ion-select value="0" okText="OK" cancelText="Cancelar" value="0" [(ngModel)]="ruta" (ionChange)="updateChart()">
      <ion-select-option value="0">Todas</ion-select-option>
      <ion-select-option *ngFor="let r of rutas; let i = index" value="{{r._id}}">Ruta {{i+1}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
      <ion-card-title>
        {{title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <div class="wrapper">
      <svg #svg></svg>
        <div *ngIf="loading" class="loader">Loading</div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Datos
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Eje X</ion-label>
      <ion-select value="speed" okText="OK" cancelText="Cancelar" [(ngModel)]="xAxisProp" (ionChange)="updateChart()">
        <ion-select-option value="speed">Velocidad</ion-select-option>
        <ion-select-option value="distance">Distancia</ion-select-option>
        <ion-select-option value="total_time">Tiempo</ion-select-option>
        <ion-select-option value="evaded_objects">Objetos Evadidos</ion-select-option>
        <ion-select-option value="knockeddown_objects">Objetos Derribados</ion-select-option>
        <ion-select-option value="objects">Objetos</ion-select-option>
        <ion-select-option value="decision_time">Tiempo de Decision</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Eje Y</ion-label>
      <ion-select value="speed" okText="OK" cancelText="Cancelar" [(ngModel)]="yAxisProp" (ionChange)="updateChart()">
        <ion-select-option value="speed">Velocidad</ion-select-option>
        <ion-select-option value="distance">Distancia</ion-select-option>
        <ion-select-option value="total_time">Tiempo</ion-select-option>
        <ion-select-option value="evaded_objects">Objetos Evadidos</ion-select-option>
        <ion-select-option value="knockeddown_objects">Objetos Derribados</ion-select-option>
        <ion-select-option value="objects">Objetos</ion-select-option>
        <ion-select-option value="decision_time">Tiempo de Decision</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>
</ion-content>
