// ion-fab-button {
//     width: 100px !important;
//     height: 100px !important;
    
// }    
ion-fab-list ion-button{
    --border-radius:125px;
    --padding-top:65px;
    --padding-bottom:65px;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
}
.son1 {
    position: relative;
    top: -110px;
    left: -40px;
}

.son2 {
    position: relative;
    top: 10px;
    left: -40px;
}

.son3 {
    position: relative;
    top: -50px;
    left: 0px;
}

.son4 {
    position: relative;
    top: -50px;
    left: 0px;
}

