<super-tabs>
  <super-tabs-toolbar class="super-tabs" slot="bottom">
    <super-tab-button>
      <ion-icon name="game-controller"></ion-icon>
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="analytics"></ion-icon>
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="stats-chart"></ion-icon>
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container class="tabs-container">
    <super-tab>
      <ion-nav [root]="controller"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="data"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="graphs"></ion-nav>
    </super-tab>
  </super-tabs-container>
</super-tabs>
